@use "../../App.scss" as *;
@use "../../styles/partials/_colors.scss" as *;
@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_function.scss" as *;

.artist-profile {
  display: flex;
  flex-direction: column;
  position: relative;

  &__container-all {
    margin: 0 toRem(16);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.75rem;
    @include tablet {
      margin: 0 toRem(32);
    }
  }

  &__back {
    width: 100%;
  }

  &__back-icon {
    width: 2rem;
    cursor: pointer;

    @include tablet {
      width: 3rem;
    }

    &:hover {
      @include slideAnimation;
    }
  }

  &__container-top {
    display: flex;
    flex-direction: row;
    margin-top: toRem(8);
  }

  &__pfp-image {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid $bg;
    @include tablet {
      width: 10rem;
      height: 10rem;
      border: 6px solid $bg;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    @include tablet {
      margin-top: 0.25rem;
      margin-left: 0.5rem;
    }
  }

  &__name {
    color: $white;
    font-size: toRem(20);
    font-weight: $semibold;
    padding-bottom: 0.25rem;
    @include tablet {
      font-size: toRem(42);
      margin-bottom: 0.25rem;
    }
  }

  &__location {
    color: $white;
    font-size: toRem(13);
    font-weight: $semibold;
    margin-bottom: 0.5rem;
    @include tablet {
      font-size: toRem(20);
    }
  }

  &__container-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: toRem(8);
  }

  &__message {
    display: flex;
    align-items: center;
    background-color: $white;
    border: 1px solid $heroborder;
    border-radius: 6px;
    padding: toRem(4) toRem(16);
    cursor: pointer;
    @include tablet {
      padding: toRem(10) toRem(28);
      margin-top: toRem(4);
    }
  }

  &__message-text {
    color: $header;
    margin-left: 0.5rem;
    font-size: toRem(15);
    font-weight: $semibold;
    @include tablet {
      font-size: toRem(20);
    }
  }

  &__container-bottom {
    @include layout;
  }

  &__about {
    margin-top: 4rem;
    border-bottom: 2px solid $heroborder;
    border-top: 2px solid $heroborder;
    padding-bottom: toRem(8);
    padding-top: toRem(8);
    color: $text;
    @include tablet {
      font-size: toRem(24);
      margin-top: 5rem;
      padding-top: toRem(18);
      padding-bottom: toRem(18);
    }
  }

  &__about-header {
    font-weight: $semibold;
    @include tablet {
      padding-bottom: toRem(8);
    }
  }

  &__about-text {
    margin-top: toRem(4);
    font-size: toRem(12);
    @include tablet {
      font-size: toRem(16);
    }
  }

  &__skill {
    border-bottom: 2px solid $heroborder;
    padding-bottom: toRem(8);
    padding-top: toRem(8);
    color: $text;
  }

  &__skill-header {
    font-weight: $semibold;
    @include tablet {
      font-size: toRem(24);
      padding-top: toRem(8);
      padding-bottom: toRem(8);
    }
  }

  &__skill-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: toRem(4);
    @include tablet {
      padding-bottom: toRem(8);
    }
  }

  &__skill-btns {
    color: $skillblue;
    border: 1px solid $heroborder;
    border-radius: 10px;
    padding: toRem(3);
    margin-bottom: toRem(4);
    margin-right: toRem(6);
    background-color: $tagfill;
    font-size: toRem(12);
    @include tablet {
      font-size: toRem(16);
      margin-right: toRem(12);
    }
  }
}
