@use "../../App.scss" as *;
@use "../../styles/partials/_colors.scss" as *;
@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_function.scss" as *;

.footer {
  //   background-color: $white;
  background-color: $white;
  padding-left: toRem(16);
  padding-right: toRem(16);
  padding-top: toRem(8);
  border-top: 4px solid $footerborder;
  position: sticky;
  left: 0px;
  bottom: 0px;
  height: 130px;
  width: 100%;

  @include tablet {
    padding-left: toRem(36);
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: $text;
    text-decoration: none;
  }

  &__item {
    font-size: toRem(8);
    font-weight: $bold;
    margin-bottom: toRem(8);
    @include tablet {
      font-size: toRem(12);
      padding-top: toRem(8);
    }
  }

  &__logo {
    font-family: $logo;
    font-size: toRem(12);
    @include tablet {
      font-size: toRem(24);
    }
  }

  &__container-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: toRem(8);
    @include tablet {
      width: 62%;
      justify-content: space-between;
      padding-bottom: toRem(16);
    }
  }

  &__footnote {
    font-size: toRem(9);
    margin-left: toRem(32);
    @include tablet {
      font-size: toRem(11);
    }
  }
}
