//header banner
$header: #0063a3;
$white: #ffffff;
$placeholder: #a3a6b1;

//dropshadow
$dropshadow: drop-shadow(0 4px 2px black);

//hero
$heroborder: #b7b9c3;
$text: #252a2e;

//feature cards
$card: #004f83;

//footer border
$footerborder: #cbcdd6;

//overlay
$overlay: rgba(80, 66, 66, 0.5);

//profile pic border
$pfpborder: 3px solid #0063a3;

//skillset tag font color and fill
$skillblue: #004f83;
$tagfill: rgba(251, 173, 38, 0.25);

//artist profile
$profileborder: solid 10px #f0f0f8;
$message: #0063a3;

//form
$inputborder: solid 2px #b7b9c3;
$label: #585c65;
$btn: #004f83;
$btnfill: #fbad26;
$footnote: #0063a3;

//background
$bg: #f1f1f6;
