@use "../../App.scss" as *;
@use "../../styles/partials/_colors.scss" as *;
@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_function.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: toRem(70);
  background-color: $header;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  @include tablet {
    padding-left: toRem(36);
    padding-right: toRem(36);
  }
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.navbar__logo {
  font-size: toRem(24);
  color: $white;
  font-family: $logo;
  margin-right: 0.5rem;
  @include tablet {
    font-size: toRem(32);
  }
}

.navbar__logo-link {
  text-decoration: none;
}

.homelink,
.about,
.login,
.contact {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  @include tablet {
    font-size: toRem(16);
    position: relative;
    color: $white;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $btnfill;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.icons {
  @include tablet {
    display: none;
  }
}

@include mobile {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #0063a3d6;
    left: 0;
    top: 75px;
    transition: all 1000ms ease-in;
    width: 100%;
    z-index: 20;
  }

  .homelink,
  .about,
  .contact,
  .login {
    color: $white;
    font-family: $main;
    font-size: toRem(18);
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 1000ms ease-in;
    &:focus {
      color: $btnfill;
    }
  }

  .icons {
    display: flex;
  }
}

.navbar__searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  padding: 0.2rem;
  border-radius: 1rem;
  border: solid 1px $footerborder;
}

.navbar__search-input {
  width: 100%;
  border: none;
  outline: none;
  font-family: $main;
  color: $text;
  padding-left: 0.75rem;
  font-size: toRem(14);
  @include tablet {
    font-size: toRem(16);
  }
}

.navbar__search-icon {
  filter: invert(75%) sepia(8%) saturate(342%) hue-rotate(190deg)
    brightness(90%) contrast(82%);
}

.nav-links {
  @include tablet {
    display: none;
  }
}

.navbar__tblt-dt {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $header;
    padding-bottom: 0.75rem;
    list-style: none;
  }
}

.navbar__divider {
  height: 1.5rem;
  border-right: 2px solid $white;
}

.mobile-menu,
.mobile-close {
  margin-left: 0.5rem;
}

::placeholder {
  color: $placeholder;
}
