@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_fonts.scss" as *;
@use "./styles/partials/_mixins.scss" as *;
@use "./styles/partials/_reset.scss" as *;
@use "./styles/partials/_colors.scss" as *;
@use "./styles/partials/_function.scss" as *;

body {
  font-family: $main;
  font-weight: $regular;
  background-color: $white;
}

main {
  background-color: $bg;
}
