@use "../../App.scss" as *;
@use "../../styles/partials/_colors.scss" as *;
@use "../../styles/partials/_fonts.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_function.scss" as *;

.search-results {
  margin-top: toRem(12);
  margin-bottom: toRem(16);
}
.search-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0 toRem(4);
  padding-bottom: 0.25rem;
  align-items: flex-start;
  border-bottom: 3px solid $heroborder;
  justify-content: center;
  @include tablet {
    margin: 0 toRem(32);
    width: auto;
  }
  @include desktop {
    padding-bottom: 0.5rem;
    margin: 0 toRem(48);
  }
}

.search-pfp-container {
  width: auto;
  padding-right: toRem(8);
  @include tablet {
    padding-right: toRem(12);
  }
  @include desktop {
    padding-right: toRem(16);
  }
}

.search-pfp {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: 2px solid $header;
  @include tablet {
    width: 5.25rem;
    height: 5.25rem;
  }
  @include desktop {
    width: 7rem;
    height: 7rem;
  }
}

.search-artist-info {
  display: flex;
  flex-direction: column;
  color: $text;
}

.search-name {
  font-size: toRem(18);
  font-weight: $semibold;
  padding-bottom: 0.1rem;
  @include tablet {
    font-size: toRem(24);
    padding-bottom: toRem(5);
  }
  @include desktop {
    font-size: toRem(26);
  }
}

.search-location {
  font-size: toRem(13);
  padding-bottom: 0.1rem;
  @include tablet {
    font-size: toRem(16);
    padding-bottom: toRem(4);
  }
}

.search-skill {
  font-size: toRem(11);
  @include tablet {
    font-size: toRem(14);
  }
}

.search-skill-results {
  color: $skillblue;
  border: 1px solid $heroborder;
  border-radius: 10px;
  padding: toRem(3);
  margin-left: 0.25rem;
  background-color: $tagfill;
}

.search-info-right {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
  align-items: flex-end;
  @include tablet {
    margin-left: toRem(32);
  }
  @include desktop {
    margin-left: toRem(70);
  }
}

.search-price {
  color: $text;
  font-size: toRem(10);
  @include tablet {
    font-size: toRem(12);
  }
}

.search-open {
  filter: invert(19%) sepia(96%) saturate(2367%) hue-rotate(187deg)
    brightness(94%) contrast(102%);
  height: 2rem;
  margin-top: 0.2rem;
  @include tablet {
    height: 2.75rem;
    margin-top: toRem(8);
  }
  @include desktop {
    height: 3rem;
  }
}
